<h1>About page</h1>

<div class="carousel" style="height: 500px;" data-role="carousel" data-param-effect="fade" data-param-direction="left" data-param-period="9999999999999" data-param-markers="on" >
                                <div class="slides">
                                    <div class="slide image" id="slide4">
                                           <p>Soemthinbg </p>
<div class="tile"></div>
    <div class="tile double">hello
                                <button><i class="icon-home"></i></button>
				<%= button_to "Help", help_path, class: "shortcut" %>
</div>
    <div class="tile selected"></div>
    <div class="tile bg-color-orange"></div>
 <div class="toolbar">
                                <button><i class="icon-home"></i></button>
                                <button><i class="icon-bookmark"></i></button>
                                <button><i class="icon-phone"></i></button>
                                <button><i class="icon-compass"></i></button>
                                <button><i class="icon-mail"></i></button>
				<%= button_to "Help", help_path, class: "shortcut" %>
				<%= button_to "Home", root_path, class: "bg-color-red" %>
                            </div>
                                        <div class="description">
                                            Ut egestas tempor magna, sed rutrum felis fermentum quis. Aliquam congue ultricies elit, sit amet tempor tortor tempor nec.
                                        </div>
                                    </div>
                                </div>
                                <span class="control left">&#8249;</span>
                                <span class="control right">&#8250;</span>
                            </div>
                        </div>


