<h1>StaticPages#help</h1>


<div class="carousel span8" style="height: 500px;" data-role="carousel" data-param-effect="fade" data-param-direction="left" data-param-period="3000" data-param-markers="on" data-param-auto="false">

                                <div class="slides">

                                    <div class="slide image" id="slide4">
                                           <p>Soemthinbg </p>

                                        <img src="images/image1.jpg" />

                                        <div class="description">

                                            Ut egestas tempor magna, sed rutrum felis fermentum quis. Aliquam congue ultricies elit, sit amet tempor tortor tempor nec.

                                        </div>

                                    </div>

                                    <div class="slide image" id="slide5">

                                        <img src="images/image2.jpg" />

                                        <div class="description">

                                            Ut egestas tempor magna, sed rutrum felis fermentum quis. Aliquam congue ultricies elit, sit amet tempor tortor tempor nec.

                                        </div>

                                    </div>

                                    <div class="slide image" id="slide6">

                                        <img src="images/image3.jpg" />

                                        <div class="description">

                                            This super beast eats fresh human flesh. She claws picking his nose, uttering at the same contented purring, and tooth picks out of leftover meat.

                                        </div>

                                    </div>

                                </div>





                                <span class="control left">&#8249;</span>

                                <span class="control right">&#8250;</span>



                            </div>

                        </div>

